EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
EXPO_PUBLIC_APPWRITE_API_KEY=your_api_key
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
EXPO_PUBLIC_APPWRITE_POSTS_COLLECTION_ID=posts
EXPO_PUBLIC_APPWRITE_MESSAGES_COLLECTION_ID=messages
EXPO_PUBLIC_APPWRITE_BUCKET_ID=your_bucket_id
EXPO_PUBLIC_APP_NAME=appmass
EXPO_PUBLIC_PRIMARY_COLOR=#f4f3ee
EXPO_PUBLIC_ACCENT_COLOR=#c15f3c
EXPO_PUBLIC_DEFAULT_LOCALE=en
EXPO_PUBLIC_APPWRITE_REGION=asia-pacific
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_ADMOB_APP_ID=
EXPO_PUBLIC_AGORA_APP_ID=
